@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
}

*, *::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: 'Roboto', sans-serif; 
}

/* Header */
#header {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  padding: 20px;
  font-size: 3em;
}

/* Sidebar */
#sidebar {
  background-color: var(--secondary-light);
}

#add_project_input {
  transform: scale(0);
}

#add_project_input.active {
  transform: scale(1);
}

/* Project Page */
#add_task_input {
  transform: scale(0);
}

#add_task_input.active {
  transform: scale(1);
}